html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: white;
    min-height: 100vh;
    font-family: monospace;
}

/* Navbar/Head Colouring */
.navbar {
    background-color: #C5CCD2;
    display: block;
}
.navbar .navbar-brand {
    font-size: 1.8em;
}
.container1 {
    color: black;
    margin-left: 5%;
    background-color: #ffbf00;
    border-radius: 18%;
    padding: 1%;
    display:inline-flex;
    font-family:monospace;
    text-align: middle;
}

/* Main structure */
.containermain {
    padding: 2%; 
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1em;
    flex-grow: 1;
}

/* To Do Tab Styling */
.nav-link{
    color: #708090;
}
.nav-link:hover{
    color: #ffbf00;
}

/* To Do Styling */
#todo-list {
    font-size: 1.5em;
}
.todoli {
    padding-bottom: 0.4em;
}
.todo-title {
    margin-right: 10px; 
}

/*Pop Up Styling */
#view-popout {
    background-color: rgb(111, 128, 144, 0.5);
    backdrop-filter: 10px;
}

.modal-header {
    background-color: #C5CCD2;
}

.modal-title {
    font-weight: bold;
    font-size: 1em;
    margin-left: 1em;
    margin-top: 0.3em;
}

/* Add-ToDo Form Styling*/
h3 {
    margin-bottom: 1rem;
}
h5 {
    margin-top: 0.5rem;
}
.forminput {
    padding: 2%;
}

/* Completed To Do Styling */
#completed-todo-list {
    font-size: 1.5em;
}
.completedtodoli {
    padding-bottom: 0.4em;
}
.completedtodoli > li {
    list-style: none;
}

.completedtodoli-title {
    margin-right: 10px; 
}

/* Button Colouring */
.btn-add {
    background-color: #ffbf00;
    outline: #ffbf00;
}
.btn-add:hover {
    background-color: #d8b04a;
}
/* Delete All */
.btn-deleteall {
    background-color: #708090;
}
.btn-deleteall:hover {
    background-color: #C5CCD2;
    color: black;
}
.btn-deleteall:active {
    background-color: #708090;
    color: black;
}
.btn-deleteall:visited {
    background-color: #708090;
}
/* Delete Completed */
.btn-compdelete {
    background-color: #C5CCD2;
    outline: #C5CCD2;
}
.btn-compdelete:hover {
    background-color: #708090;
}
.btn-compdelete:visited{
    background-color: #C5CCD2;
    outline: #C5CCD2;
}
.btn-compdelete:active{
    background-color: #C5CCD2;
    outline: #C5CCD2;
}
/* View */
.btn-view {
    background-color: #C5CCD2;
    outline: #C5CCD2;
}
.btn-view:hover {
    background-color: #708090;
}
/* Delete Individual */
.btn-delete {
    background-color: #708090;
    margin-left: 5%;
}
.btn-delete:hover {
    background-color: #C5CCD2;
    color:black;
}
/* Complete */
.btn-comp {
    background-color: #ffbf00;
    outline: #ffbf00;
    margin-left: 5%;
}
.btn-comp:hover {
    background-color: #d8b04a;
}

/* Footer Editing */
footer {
    width: 100%;
    height: 4rem;
    bottom: 0;
    background-color: #C5CCD2;
    text-justify: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    padding-top: 1rem;
    flex-shrink: 0;
}
footer a {
    color: black;
    font-size: 1em;
}
footer a:hover {
    background-color: #ffbf00;
    padding:1%;
    border-radius: 18%;
}