body {
    background-color: #cbc0d3;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar/Head Colouring */
.navbar {
    background-color: #8e9aaf;
}
.navbar .navbar-brand {
    font-size: 1.8em;
    color: #efd3d7;
    font-family: 'Comforter Brush', cursive;
}

.container1 .title {
    text-align:right;
    color: #efd3d7;
}

.container .subtitle {
    padding: 1rem; 
    font-size: 1.7em;
}

/* To Do Styling */
#todo-list {
    font-size: 1.5em;
}
.todoli {
    padding-bottom: 0.4em;
}
.todoli > li {
    list-style: none;
}
.todo-title {
    margin-right: 10px; 
}

/*Pop Up Styling */
#view-popout {
    background-color: rgb(203, 192, 211, 0.5);
    backdrop-filter: 10px;
}

.modal-header {
    background-color: #efd3d7;
}

.modal-title {
    font-weight: bold;
    font-size: 1em;
    margin-left: 1em;
    margin-top: 0.3em;
}

/* Add-ToDo Form Styling*/
h3 {
    margin-bottom: 1rem;
}
h5 {
    margin-top: 0.5rem;
}
.forminput {
    padding: 2%;
}

/* Completed To Do Styling */
#completed-todo-list {
    font-size: 1.5em;
}
.completedtodoli {
    padding-bottom: 0.4em;
}
.completedtodoli > li {
    list-style: none;
}

.completedtodoli-title {
    margin-right: 10px; 
}

/* Button Colouring */
.btn-add {
    background-color: pink;
    outline: purple;
}

.btn-add:hover {
    background-color: #efd3d7;
}

.btn-add:visited{
    background-color: pink;
    outline: purple;
}

.btn-add:active{
    background-color: pink;
    outline: purple;
}

.btn-deleteall {
    background-color: #8e9aaf;
}

.btn-deleteall:hover {
    background-color: rgb(84, 18, 90);
    color: white;
}

.btn-deleteall:active {
    background-color: rgb(84, 18, 90);
    color: white;
}

.btn-deleteall:visited {
    background-color: #8e9aaf;
}

.btn-delete {
    background-color: #8e9aaf;
    margin-left: 5%;
}

.btn-delete:hover {
    background-color: rgb(84, 18, 90);
    color:white;
}

.btn-comp {
    background-color: yellow;
    outline: purple;
    margin-left: 5%;
}

.btn-comp:hover {
    background-color: #efd3d7;
}

.btn-comp:visited{
    background-color: pink;
    outline: purple;
}

.btn-comp:active{
    background-color: pink;
    outline: purple;
}

/* Footer Editing */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 4.5rem;
    background-color: #8e9aaf;
}

footer a {
    position: absolute;
    bottom: 0;
    right: 2%;
    color: #efd3d7;
    font-size: 1.6em;
    font-family: 'Comforter Brush', cursive;
}